{% assign img_url = include.img_url | default: 'https://placehold.co/960x960' %}
{% assign item_id = include.item_id %}
{% assign title = include.title %}
{% assign username = include.username %}
{% assign description = include.description %}
{% assign views = include.views | default: 0 %}
{% assign favorites = include.favorites | default: 0 %}

<div
  class="bg-white dark:bg-zinc-900 rounded-lg border border-zinc-200 dark:border-zinc-800 hover:border-zinc-300 dark:hover:border-zinc-700 transition-all overflow-hidden relative group flex flex-col"
>
  <a href="{{ site.app_url }}/items/{{ item_id }}" class="block cursor-pointer"
    >
    <div class="aspect-square w-full bg-white dark:bg-black relative">
      <picture class="flex w-full h-full justify-center"
        ><source
          srcset="{{ img_url }}"
          media="(max-width: 639px)" />
        <source
          srcset="{{ img_url }}"
          media="(min-width: 640px) and (max-width: 767px)" />
        <source
          srcset="{{ img_url }}"
          media="(min-width: 768px) and (max-width: 1023px)" />
        <source
          srcset="{{ img_url }}"
          media="(min-width: 1024px) and (max-width: 1279px)" />
        <source
          srcset="{{ img_url }}"
          media="(min-width: 1280px)" />
        <img alt="{{ title }}" src="{{ img_url }}"
      /></picture>
      <div class="absolute bottom-2 left-2 flex items-center gap-1.5 bg-black/60 dark:bg-black/70 backdrop-blur-sm px-2 py-1 rounded-md text-white text-xs font-medium views-{{ views }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye w-3.5 h-3.5" aria-hidden="true"><path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"></path><circle cx="12" cy="12" r="3"></circle></svg>
        <span>{{ views }}</span>
      </div>
    </div>
    <div class="p-4 space-y-3">
      <div class="items-start justify-between">
        <h3
          class="text-lg font-semibold text-zinc-900 dark:text-zinc-100 transition-colors line-clamp-1"
        >
          {{ title }}
        </h3>
        <h4
          class="text-sm font-semibold text-zinc-600 dark:text-zinc-400 line-clamp-1 mb-2"
        >
          Listed by @{{ username }}
        </h4>
      </div>
      <div class="text-sm text-zinc-600 dark:text-zinc-400 line-clamp-3">
        {{ description }}
      </div>
    </div>
    </a>
    <div class="flex p-4 mt-auto gap-2">
      <a href="{{ site.app_url }}/items/{{ item_id }}" class="btn btn-primary btn-md w-full">
        <span>View Listing</span>
        <span class="btn-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right-icon lucide-arrow-right h-4 w-4 shrink-0">
            <path d="M5 12h14"/>
            <path d="m12 5 7 7-7 7"/>
          </svg>
        </span>
      </a>
      <a href="{{ site.app_url }}/items/{{ item_id }}" title="Add to favorites" disabled="" class="gap-1.5 btn btn-md btn-tertiary">
        <span class="btn-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart h-4 w-4 shrink-0" aria-hidden="true">
            <path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>
          </svg>
        </span>
        <span class="tabular-nums favorites-{{ favorites }}">{{ favorites }}</span>
      </a>
    </div>
</div>
