{% assign variant = include.variant | default: "default" %}
{% case include.size %}
  {% when "sm" %}
    {% assign img_size_class = "w-6 h-6" %}
    {% assign txt_size_class = "text-base" %}
  {% when "md" %}
    {% assign img_size_class = "w-8 h-8" %}
    {% assign txt_size_class = "text-xl" %}
  {% when "lg" %}
    {% assign img_size_class = "w-10 h-10" %}
    {% assign txt_size_class = "text-2xl" %}
  {% when "xl" %}
    {% assign img_size_class = "w-12 h-12" %}
    {% assign txt_size_class = "text-3xl" %}
{% endcase %}
<div class="flex my-auto logo-{{ variant }}">
    <a href="{{ site.url }}" class="flex inline-flex items-center my-auto">
        <svg
            class="{{ img_size_class }}"
            x="0px"
            y="0px"
            width="830px"
            height="830px"
            viewBox="0 0 830 830">
            <path
            class="logo-icon-top"
            d="M63.9,439.2c0,0-65.7-78.8,0-200.7c62.4-115.7,208.2-105.9,208.2-105.9h177.5V47.6c0,0-4.4-69.1,43.5-31.8
    s246.3,186.9,246.3,186.9s41.1,32.8,0,63.7S493.1,447.1,493.1,447.1s-43.5,27.5-43.5-33.7c0-70.3,0-85.9,0-85.9
    s-132.9-5.1-190.4,10.7c-58.5,16.1-112.3,47.6-157.5,102.9C80.7,466.9,63.9,439.2,63.9,439.2z"
            ></path>
            <path
            class="logo-icon-bottom"
            d="M766.1,390.8c0,0,65.7,78.8,0,200.7c-62.4,115.7-208.2,105.9-208.2,105.9H380.4v84.9c0,0,4.4,69.1-43.5,31.8
    S90.6,627.3,90.6,627.3s-41.1-32.8,0-63.7s246.3-180.7,246.3-180.7s43.5-27.5,43.5,33.7c0,70.3,0,85.9,0,85.9s132.9,5.1,190.4-10.7
    c58.5-16.1,112.3-47.6,157.5-102.9C749.3,363.1,766.1,390.8,766.1,390.8z"
            ></path>
        </svg>
        {% if variant != "icon" and variant != "grayscale_icon" %}
            <span class="font-semibold ml-2 {{ txt_size_class }}">bartr</span>
        {% endif %}
    </a>
</div>
