<section class="section-container section-container-fluid section-type-{{ include.type | default: 'primary' }}" {% if include.style %}style="{{ include.style }}"{% endif %}>
  <div class="section-content">
    {% if include.title %}
      <div class="flex items-center gap-2 mb-4">
        {% if include.icon %}
          <span class="flex items-center">
            {{ include.icon }}
          </span>
        {% endif %}
          <h2 class="text-2xl font-semibold">{{ include.title }}</h2>
      </div>
      {% if include.subtitle %}
        <h3 class="text-xl font-light text-zinc-600 dark:text-zinc-400 mt-6 mb-8">{{ include.subtitle }}</h2>
      {% endif %}
    {% endif %}
    <div>
        {{ include.body }}
    </div>
  </div>
</section>
