@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body,
.docs-story {
  @apply bg-white dark:bg-zinc-900;
}

@import "./header.scss";
@import "./footer.scss";
@import "./logo.scss";
@import "./section.scss";
@import "./wrapper.scss";
@import "./button.scss";
@import "./card.scss";
