@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;
    &.layout-default {
        section {
            padding: 4rem 3rem;
            h1 {
                font-size: 2.5rem;
                line-height: 2.5rem;
                font-weight: 400;
                margin-bottom: 1.5rem;
            }
            h2 {
                font-size: 2rem;
                line-height: 2rem;
                font-weight: 400;
                margin-bottom: 1.5rem;
                margin-top: 2rem;
            }
            p {
                font-size: 1.4rem;
                line-height: 1.8rem;
                font-weight: 200;
                margin-bottom: 1rem;
            }
            footer {
                margin-top: 3rem;
            }
            a {
                color: white;
                transition: color .2s ease-in-out;
                &:hover, &:active {
                    color: #9852b5;
                }
            }
            hr {
                border-color: oklch(20% 0 0);
                margin: 3rem 0;
            }
        }
    }
}

nav {
    padding: 2rem 0;
    #logo {
        img {
            width: 48px;
            height: 48px;
        }
        .text-logo {
            font-size: 2rem;
            line-height: 2rem;
            font-weight: 600;
        }
        .text-slogan {
            font-size: 1.4rem;
            line-height: 1rem;
            font-weight: 100;
            display: none;
        }
    }
    ul {
        font-size: 1.5rem;
        font-weight: 200;
        display: flex;
        gap: 2rem;
        justify-content: flex-end;
        margin-left: auto;
        li {
            a {
                color: white;
                transition: color .2s ease-in-out;
                &:hover, &:active {
                    color: #9852b5;
                }
            }
        }
    }
}

button, a {
    &.cta {
        display: inline-block;
        background: linear-gradient(180deg,rgba(166, 132, 255, 1) 0%, rgba(166, 132, 255, 0) 100%);
        background-color: #9852b5;
        color: white;
        padding: 1rem 2rem;
        border-radius: 5px;
        font-size: 1.4rem;
        font-weight: 100;
        border: none;
        cursor: pointer;
        transition: background-color .2s ease-in-out;
        text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.25);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
        &:hover, &:active {
            color: white;
            background-color: rgba(166, 132, 255, 1);
        }
    }
}

body#page-home header#hero {
    background-image:
        url('/assets/img/bg-hero.jpg'),
        radial-gradient(circle at 33% 33%, rgba(23, 23, 23, 1) 0%,
            rgba(30, 26, 76, 1) 33%,
            rgba(67, 45, 216, 1) 80%,
            rgba(124, 134, 255, 1) 100%);
    background-position: center, center;
    background-size: cover, cover;
    background-blend-mode: soft-light, normal;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
    section {
        padding: 9rem 15rem 10rem;
    }
    a:not(.cta) {
        color: white;
        transition: color .2s ease-in-out;
        &:hover, &:active {
            color: #9852b5;
        }
    }
    strong {
        font-weight: 700;
    }
    #logo {
        margin-bottom: 6rem;
        color: white;
        &:hover, &:active {
            color: white;
        }
        img {
            width: 100px;
            height: 100px;
        }
        .text-logo {
            font-size: 5.5rem;
            line-height: 5.5rem;
            font-weight: bold;
            margin-top: 3px;
        }
        .text-slogan {
            font-size: 1.4rem;
            line-height: 1rem;
            font-weight: 100;
            display: inline;
        }
    }
    #features {
        margin-bottom: 1rem;
        margin-left: 40px;
        .feature {
            margin-bottom: 2.2rem;
            svg {
                stroke: #9852b5 !important;
            }
            .icon {
                width: 60px;
            }
            .content {
                max-width: 500px;
            }
            h2 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.5rem;
                margin-bottom: .8rem;
            }
            p {
                font-size: 1.4rem;
                font-weight: 100;
            }
        }
    }
    #cta {
        padding-left: 100px;
        .cta {
            margin-left: 1rem;
        }
        p {
            font-size: 1.4rem;
            font-weight: 200;
        }
    }
}

#trade-protection {
    padding: 5rem 10rem;
    background-color: oklch(14.5% 0 0);
    color: white;
    h2 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5rem;
        margin-bottom: .8rem;
    }
    p {
        font-size: 1.4rem;
        font-weight: 100;
    }
    #tiers {
        margin-top: 3rem;
        .tier {
            padding: 4rem 3rem 3rem;
            border-radius: 10px;
            border-width: 3px;
            border-style: solid;
            transition: border-color .2s ease-in-out;
            &.tier-basic {
                border-color: oklch(62.3% 0.214 259.815);
                svg {
                    stroke: oklch(62.3% 0.214 259.815);
                }
            }
            &.tier-standard {
                border-color: oklch(60.6% 0.25 292.717);
                svg {
                    stroke: oklch(60.6% 0.25 292.717);
                }
            }
            &.tier-premium {
                border-color: oklch(82.8% .189 84.429);
                svg {
                    stroke: oklch(82.8% .189 84.429);
                }
            }
            &:hover {
                border-color: white;
                svg {
                    stroke: white;
                }
            }
            svg {
                margin-bottom: 1.5rem;
                transition: stroke .2s ease-in-out;
            }
            h3 {
                font-size: 1.6rem;
                font-weight: 400;
            }
            p {
                font-size: 1.2rem;
                font-weight: 100;
            }
        }
    }
}

#key-features {
    padding: 7rem 20rem 0;
    background-color: black;
    color: white;
    .feature {
        margin-bottom: 5rem;
        padding-bottom: 5rem;
        border-bottom: 1px solid oklch(20% 0 0);
        &:last-child {
            border-bottom: none;
        }
        svg {
            width: 100px;
            height: 100px;
            margin-bottom: 1rem;
            stroke: #9852b5 !important;
        }
    }
    h2 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.2rem;
        margin-bottom: 1rem;
    }
    h3 {
        font-size: 1.6rem;
        font-weight: 200;
        line-height: 2.2rem;
        margin-bottom: 2.5rem;
    }
    p {
        font-size: 1.4rem;
        font-weight: 100;
    }
}

#signup {
    padding: 5rem 10rem;
    background-color: oklch(25.7% .09 281.288);
    color: white;
    text-align: center;
    h2 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.2rem;
        margin-bottom: 1rem;
    }
    .cta {
        margin-top: 2rem;
    }
}

footer {
    background-color: black;
    color: oklch(43.9% 0 0);
    padding: 3rem 10rem;
    text-align: center;
    font-weight: 200;
    p {
        font-size: 1.2rem;
    }
    a {
        color: oklch(55.6% 0 0);
        transition: color .2s ease-in-out;
        &:hover, &:active {
            color: white;
        }
    }
}

body#page-contact {
    #contact-methods {
        margin-top: 3rem;
        .contact-method {
            padding: 4rem 3rem 3rem;
            border-color: oklch(58.5% .233 277.117);
            border-radius: 10px;
            border-width: 3px;
            border-style: solid;
            transition: border-color .2s ease-in-out;
            svg {
                stroke: oklch(58.5% .233 277.117);
                transition: stroke .2s ease-in-out;
            }
            &:hover {
                border-color: white;
                svg {
                    stroke: white;
                }
            }
        }
    }
}