@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    background-image:
        url('/assets/img/bg-hero.jpg'),
        radial-gradient(circle at 33% 33%, rgba(23, 23, 23, 1) 0%,
            rgba(30, 26, 76, 1) 33%,
            rgba(67, 45, 216, 1) 80%,
            rgba(124, 134, 255, 1) 100%);
    background-position: center, center;
    background-size: cover, cover;
    background-blend-mode: soft-light, normal;
}

.stroke-brand-purple {
    stroke: #9852b5 !important;
}

.text-logo {
    font-size: 5rem;
    line-height: 5rem;
}
