#users-map-container {
  width: 100%;
  min-height: 600px;
  overflow: hidden;
}
#users-map-container .mapboxgl-canvas {
  outline: none;
}
#users-map-overlay {
  @apply absolute;
  @apply inset-x-0;
  @apply top-0;
  @apply z-10;
  @apply bg-gradient-to-b;
  @apply from-zinc-200/80;
  @apply dark:from-black/80;
  @apply to-transparent;
  @apply dark:to-transparent;
  @apply pt-9;
  @apply pointer-events-none;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    z-index: 9;
  }
}
.users-map-pin {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  pointer-events: none;
}
.users-map-pin-avatar-wrapper {
  margin-bottom: 4px;
}
.users-map-pin-avatar {
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  object-fit: cover;
  @apply bg-zinc-900;
  @apply dark:bg-zinc-200;
  @apply shadow-sm;
  @apply border-2;
  @apply border-white;
  @apply hover:scale-125;
  @apply transition-all;
  @apply duration-300;
  @apply cursor-pointer;
}
.users-map-pin-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ef4444;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  border: 2px solid #fff;
  margin-top: 2px;
}
.users-map-pin-label {
  margin-top: 4px;
  white-space: nowrap;
  @apply text-zinc-900;
  @apply dark:text-zinc-200;
  @apply bg-white/90;
  @apply dark:bg-zinc-900/90;
  @apply rounded-sm;
  @applt text-xs;
  @apply px-2;
  @apply py-1;
}

#recent-searches-section {
  @apply pointer-events-none;
  @apply absolute;
  @apply inset-x-0;
  @apply bottom-0;
  @apply z-99;
  & > h3, & > p {
    text-shadow: 0 3px 1px rgba(0, 0, 0, 1);
  }
}
