<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
    
        <title>{{ site.title }} &mdash; {{site.slogan}}{% if page.title %} | {{ page.title }}{% endif %}</title>

        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">    
        <link rel="shortcut icon" media="all" type="image/png" href="/img/favicon.png"/>
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
    </head>
    <body {% if page.id %}id="page-{{ page.id }}"{% endif %} class="layout-default">
        <div id="container">
            {% include navigation.html %}
            <section>
                {{ content }}
            </section>
            {% include footer.html %}
        </div>
    </body>
</html>
