<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-D7WSDH961S"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-D7WSDH961S');
        </script>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="{{ site.description }}" />
        <meta property="og:image" content="/assets/img/og-share.png" />
        <meta property="og:image:width" content="1024" />
        <meta property="og:image:height" content="1024" />
    
        <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }} | {{site.slogan}}</title>

        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" /> 
        <link rel="shortcut icon" media="all" type="image/png" href="/img/favicon.png" />
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    
    </head>
    <body {% if page.id %}id="page-{{ page.id }}"{% endif %} class="layout-default">
        <div id="container">
            {% include navigation.html %}
            <section class="content">
                {{ content }}
            </section>
            {% include footer.html %}
        </div>
    </body>
</html>
